In [6]:
import numpy as np
import glob
import cv2

import numpy as np
import pandas as pd
import sqlite3

In [7]:

for file in glob.iglob('/Users/adriennezane/Desktop/Data Bootcamp/game-analysis/League/*.jpg'):
        image = cv2.imread(file)

In [8]:
image

array([[[111, 154, 181],
        [113, 156, 183],
        [121, 162, 187],
        ...,
        [ 96, 124, 154],
        [105, 133, 163],
        [112, 141, 168]],

       [[103, 143, 171],
        [103, 144, 169],
        [108, 148, 173],
        ...,
        [ 91, 119, 150],
        [104, 132, 162],
        [111, 139, 169]],

       [[ 91, 131, 156],
        [ 91, 132, 155],
        [ 97, 135, 159],
        ...,
        [ 90, 117, 151],
        [104, 131, 165],
        [109, 136, 170]],

       ...,

       [[ 45,  63, 104],
        [ 46,  65, 108],
        [ 49,  68, 113],
        ...,
        [ 12,  19,  34],
        [ 14,  21,  36],
        [ 14,  21,  36]],

       [[ 44,  63,  98],
        [ 44,  63, 100],
        [ 48,  67, 105],
        ...,
        [ 11,  18,  33],
        [ 12,  19,  34],
        [ 12,  19,  34]],

       [[ 39,  59,  90],
        [ 40,  59,  92],
        [ 42,  61,  98],
        ...,
        [ 12,  19,  34],
        [ 12,  19,  34],
        [ 12,  19,  34]]], dtype=uint8)

In [9]:
from pathlib import Path


image_dir_path = '/Users/adriennezane/Desktop/Data Bootcamp/game-analysis/League/'
paths = [path.parts[-3:] for path in
         Path(image_dir_path).rglob('*.jpg')]
df = pd.DataFrame(data=paths, columns=['Champion', 'Model', 'Images'])
df

          Champion   Model           Images
0    game-analysis  League      ialiyah.jpg
1    game-analysis  League        nilah.jpg
2    game-analysis  League        yuumi.jpg
3    game-analysis  League  twistedfate.jpg
4    game-analysis  League       rengar.jpg
..             ...     ...              ...
156  game-analysis  League         sion.jpg
157  game-analysis  League      Rell_v2.jpg
158  game-analysis  League        neeko.jpg
159  game-analysis  League      chogath.jpg
160  game-analysis  League        riven.jpg

[161 rows x 3 columns]

In [25]:
#data = {['/Users/adriennezane/Desktop/Data Bootcamp/game-analysis/League/']}
  
# Convert the dictionary into DataFrame
#DATAF = pd.DataFrame(data)
  
# Declare a list that is to be converted into a column
address = ['/Users/adriennezane/Desktop/Data Bootcamp/game-analysis/League/']
  
# Using 'Address' as the column name
# and equating it to the list
df['PATH'] = '/Users/adriennezane/Desktop/Data Bootcamp/game-analysis/League/'
  
# Observe the result
df

,Champion,Model,Images,PATH
0,game-analysis,League,ialiyah.jpg,/Users/adriennezane/Desktop/Data Bootcamp/game...
1,game-analysis,League,nilah.jpg,/Users/adriennezane/Desktop/Data Bootcamp/game...
2,game-analysis,League,yuumi.jpg,/Users/adriennezane/Desktop/Data Bootcamp/game...
3,game-analysis,League,twistedfate.jpg,/Users/adriennezane/Desktop/Data Bootcamp/game...
4,game-analysis,League,rengar.jpg,/Users/adriennezane/Desktop/Data Bootcamp/game...
...,...,...,...,...
156,game-analysis,League,sion.jpg,/Users/adriennezane/Desktop/Data Bootcamp/game...
157,game-analysis,League,Rell_v2.jpg,/Users/adriennezane/Desktop/Data Bootcamp/game...
158,game-analysis,League,neeko.jpg,/Users/adriennezane/Desktop/Data Bootcamp/game...
159,game-analysis,League,chogath.jpg,/Users/adriennezane/Desktop/Data Bootcamp/game...
160,game-analysis,League,riven.jpg,/Users/adriennezane/Desktop/Data Bootcamp/game...

In [27]:
df = df[['PATH', 'Images', 'Model', 'Champion']]
df["PATHWAY"] = df["PATH"] + df["Images"]
df

,PATH,Images,Model,Champion,PATHWAY
0,/Users/adriennezane/Desktop/Data Bootcamp/game...,ialiyah.jpg,League,game-analysis,/Users/adriennezane/Desktop/Data Bootcamp/game...
1,/Users/adriennezane/Desktop/Data Bootcamp/game...,nilah.jpg,League,game-analysis,/Users/adriennezane/Desktop/Data Bootcamp/game...
2,/Users/adriennezane/Desktop/Data Bootcamp/game...,yuumi.jpg,League,game-analysis,/Users/adriennezane/Desktop/Data Bootcamp/game...
3,/Users/adriennezane/Desktop/Data Bootcamp/game...,twistedfate.jpg,League,game-analysis,/Users/adriennezane/Desktop/Data Bootcamp/game...
4,/Users/adriennezane/Desktop/Data Bootcamp/game...,rengar.jpg,League,game-analysis,/Users/adriennezane/Desktop/Data Bootcamp/game...
...,...,...,...,...,...
156,/Users/adriennezane/Desktop/Data Bootcamp/game...,sion.jpg,League,game-analysis,/Users/adriennezane/Desktop/Data Bootcamp/game...
157,/Users/adriennezane/Desktop/Data Bootcamp/game...,Rell_v2.jpg,League,game-analysis,/Users/adriennezane/Desktop/Data Bootcamp/game...
158,/Users/adriennezane/Desktop/Data Bootcamp/game...,neeko.jpg,League,game-analysis,/Users/adriennezane/Desktop/Data Bootcamp/game...
159,/Users/adriennezane/Desktop/Data Bootcamp/game...,chogath.jpg,League,game-analysis,/Users/adriennezane/Desktop/Data Bootcamp/game...
160,/Users/adriennezane/Desktop/Data Bootcamp/game...,riven.jpg,League,game-analysis,/Users/adriennezane/Desktop/Data Bootcamp/game...

In [10]:
import numpy as np
import pandas as pd
import sqlite3

In [11]:
import sqlalchemy as db
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, func

In [12]:
connection = sqlite3.connect('df')

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor.execute('''CREATE TABLE IF NOT EXISTS Shows
              ('Champion', 'Model', 'Images')''')

In [ ]:
connection.commit()
connection.close()

In [ ]:
engine = create_engine("sql:///schema.sql")

In [ ]:
Base = automap_base()

In [ ]:
Base.prepare(engine, reflect=True)

In [ ]:
Base.classes.keys()

In [ ]:

engine = create_engine('postgresql://postgres:Ladybug0@localhost:5432/champion-mastery',
    connect_args={"ssl": {"key":}},
    echo=True,
)

In [ ]:
engine = db.create_engine('sqlite:///df.sqlite')
connection = engine.connect()
metadata = db.MetaData()
census = db.Table('df', metadata, autoload=True, autoload_with=engine)

In [ ]:
# Import required modules
import csv
import sqlite3
 
# Connecting to the geeks database
connection = sqlite3.connect('g4g.db')
 
# Creating a cursor object to execute
# SQL queries on a database table
cursor = connection.cursor()
 
# Table Definition
create_table = '''CREATE TABLE person(
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                name TEXT NOT NULL,
                age INTEGER NOT NULL);
                '''
 
# Creating the table into our
# database
#cursor.execute(create_table)
 
# Opening the person-records.csv file
file = open('diamondPlayerIDs.csv')
 
# Reading the contents of the
# person-records.csv file
contents = csv.reader(file)
 
# SQL query to insert data into the
# person table
insert_records = "INSERT INTO person (date, leagueid,queueType,tier,rank,summonerid,summonername,leaguePointa,wins,losses,veteran,inactive,freshBlood,hotStreak) VALUES(?, ?)"
 
# Importing the contents of the file
# into our person table
cursor.executemany(insert_records, contents)
 
# SQL query to retrieve all data from
# the person table To verify that the
# data of the csv file has been successfully
# inserted into the table
select_all = "SELECT * FROM person"
rows = cursor.execute(select_all).fetchall()
 
# Output to the console screen
for r in rows:
    print(r)
 
# Committing the changes
connection.commit()
 
# closing the database connection
connection.close()

In [ ]:
import sqlalchemy
engine = sqlalchemy.create_engine('postgresql://postgres:Ladybug0@localhost/postgres')

In [ ]:
# Read data from CSV and load into a dataframe object
data = pd.read_csv('/Users/adriennezane/Desktop/Data Bootcamp/game-analysis/Resources/Picture_file.csv')
 
# Write data into the table in PostgreSQL database
data.to_sql('Picture_file',engine)

In [ ]:
df.to_sql('Picture',engine)